<div class="wrapper">
    <div class="body-content-wrap">
        <div class="body-content">
            <div class="wrap">
                <p class="welcome_bg_top">
                    <img class="img-bg" src="imgs/welcome/welcome_bg_top.png">
                </p>
                <p class="welcome_bg_bottom">
                    <img class="img-bg" src="imgs/welcome/welcome_bg_bottom.png">
                </p>
                <div class="content-wrap">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="div-sjkb">
                            <div class="div-style">
                                <img class="welcome_bg_middle" src="imgs/welcome/welcome_bg_middle.png">
                                <p class="p-icon">
                                   <img class="icon" src="imgs/welcome/sjkb_icon.png">	
                                </p>                               
                            </div>
                            <p class="title-style sjkb">
                                                                               数据看板
                            </p>
                            <p class="sjkb content-sjkb">
                                                                               选择自助分析保存的图表，按照行列式布局生成看板，可配置看板的参数，实现对看板数据查询过滤交互形式，看板可以将链接分发出去。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="div-zzfx">
                            <div class="div-style">
                                <img class="welcome_bg_middle" src="imgs/welcome/welcome_bg_middle.png">
                                <p class="p-icon">
                                    <img class="icon" src="imgs/welcome/zzfx_icon.png">
                                </p>
                            </div>
                            <p class="title-style zzfx">
                                                                              自助分析
                            </p>
                            <p class="zzfx">
                                                                              在配置好的数据集，灵活拖拽选择维度和度量进行多维分析，多种图表可供选择，生成的图表或表格直接展示，可保存下次使用，亦可直接导出。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="div-sjdp">
                            <div class="div-style">
                                <img class="welcome_bg_middle" src="imgs/welcome/welcome_bg_middle.png">
                                <p class="p-icon">
                                   <img class="icon" src="imgs/welcome/sjdp_icon.png">
                                </p>
                            </div>
                            <p class="title-style sjdp">
                                                                              数据大屏
                            </p>
                            <p class="sjdp">
                                                                               选择自助分析保存的图表，自由拖拽图表排版布局生成大屏，可做到所见即所得效果，大屏背景支持自定义选择配色或图片。大屏可以将链接分发出去。
                            </p>
                        </div>
                    </div>
                </div>    
                    
                <!-- <div class="titles-wrap"> 欢迎使用Magic Cube </div>
                <div class="content-wrap">
                    <div class="col-sm-9 col-md-6 col-lg-4">
                        <div class="img-com sjkb">
                            <p class="img-wrap">
                                <img class="img-content" src="imgs/welcome/sjkb.png" alt="">
                            </p>
                            <p class="font-style">数据看板</p>
                            <p class="p-style">选择自助分析保存的图表，按照行列式布局生成看板，可配置看板的参数，实现对看板数据查询过滤交互形式，看板可以将链接分发出去。</p>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 col-lg-4 ">
                        <div class="img-com zzfx">
                            <p class="img-wrap">
                                <img class="img-content" src="imgs/welcome/zzfx.png" alt="">
                            </p>
                            <p class="font-style">自助分析</p>
                            <p class="p-style">在配置好的数据集，灵活拖拽选择维度和度量进行多维分析，多种图表可供选择，生成的图表或表格直接展示，可保存下次使用，亦可直接导出。</p>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 col-lg-4">
                        <div class="img-com sjdp">
                            <p class="img-wrap">
                                <img class="img-content" src="imgs/welcome/sjdp.png" alt="">
                            </p>
                            <p class="font-style">数据大屏</p>
                            <p class="p-style">选择自助分析保存的图表，自由拖拽图表排版布局生成大屏，可做到所见即所得效果，大屏背景支持自定义选择配色或图片。大屏可以将链接分发出去。</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>